.tableRow-WorksList{
    color: black;
}

.tableData-WorksList{
    height:40px;
    text-align: center;
    font-weight: bolder;
}

#EditButton-WorksList{
    width:70px;
    height: 35px;
    text-align: center;
    border: solid black 2px;
    border-radius: 25%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(238, 255, 5, 0.74);
    font-weight: bold;
    font-size: small;
}

#EditButton-WorksList:hover{
    background-color: rgba(238, 255, 5, 0.452);
    cursor: pointer;
}

#DeleteButton-WorksList{
    width:70px;
    height: 35px;
    text-align: center;
    border: solid black 2px;
    border-radius: 25%;
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgba(224, 8, 8, 0.849);
    font-weight: bold;
    font-size: small;
}

#DeleteButton-WorksList:hover{
    background-color:rgba(224, 8, 8, 0.438);
    cursor: pointer;
}

.tableRow-WorksList:hover{
    background-color: rgba(19, 95, 161, 0.418);
   }