#overlay-InsertWorkComp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 
    pointer-events: auto; 
}

#container-InsertWorkComp {
    background-color: rgb(110, 168, 235);
    padding: 20px;
    border: solid black 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 800px;
    width: fit-content; 
    height: fit-content; 
    min-width: 500px;
    min-height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding-right: 60px;
}

#container-InsertWorkComp > img{
    width: 64px;
    height: 64px;
}

.container-div-InsertWorkComp{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
}


.inputClass-InsertWorkComp {
    background-color: rgb(132, 176, 226);
    width: 300px;
    height: 30px;
    padding: 5px;
    display: block; /* Esto asegura que el input esté separado del span */
    font-size: medium;
    font-weight: 550;
}

.inputContainer-InsertWorkComp input[readonly]:hover{
    background-color: rgb(131, 137, 145);
}

#inputPasswordContainer-InsertWorkComp{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h3Class-InsertWorkComp {
    width: fit-content;
    margin-right: 10px;
    white-space: nowrap;
}

.inputContainer-InsertWorkComp {
    display: flex;
    flex-direction: column; /* Coloca el input arriba y el span abajo */
    align-items: flex-start;
}

textarea.inputClass-InsertWorkComp{
    width: fit-content;
    height: fit-content;
    text-align: justify;
    min-height: 150px;
    min-width: 300px;
    max-width: 400px;
    max-height: 500px;
    font-size: larger;
    font-style: italic;


}

.spanClass-InsertWorkComp{
    margin-left: 10px;
    color: rgb(255, 208, 0);
    font-size:small;
    font-weight: bold;
    
}

#CheckBoxRole-InsertWorkComp{
    display: flex;
    flex-direction: row;
}
#CheckBoxRole-InsertWorkComp > label {
    margin: 20px;
    padding:5px;
}
#CheckBoxRole-InsertWorkComp > label:hover{
    cursor: pointer;
    background-color: rgb(186, 207, 231);
}

#buttons-InsertWorkComp {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#buttons-InsertWorkComp > button:first-child{
    margin: 10px;
    width: 90px;
    height: 45px;
    background-color: rgb(4, 190, 4);
    font-size: medium;
    font-weight: bold;
    border:solid black 2px;
    border-radius: 20%;
    text-align: center;
}

#buttons-InsertWorkComp > button:first-child:hover{
    background-color: rgba(4, 190, 4, 0.425);
    cursor: pointer;
}

#buttons-InsertWorkComp > button:last-child{
    margin: 10px;
    width: 90px;
    height: 45px;
    background-color: rgba(190, 4, 4, 0.925);
    font-size: medium;
    font-weight: bold;
    border:solid black 2px;
    border-radius: 20%;
}

#buttons-InsertWorkComp > button:last-child:hover{
    background-color: rgba(190, 4, 4, 0.486);
    cursor: pointer;
}
/*
#buttons-InsertWorkComp button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
*/

#themesList-InsertWorkComp{
    display:flex;
    flex-direction: row;
}

#themesList-InsertWorkComp > p{
    width: fit-content;
    height: fit-content;
    background-color: aquamarine;
    margin:2px;
    padding: 3px;
    border: solid black 2px;
    border-radius: 20%;
    font-weight: bold;
    font-size: larger;
}
#themesList-InsertWorkComp > p:hover{
    background-color: rgba(127, 255, 212, 0.521);
    cursor: pointer;
}

#buttonTheme-InsertWorkComp{
    font-weight: 900;
    width: 40px;
    height: 35px;
    border: solid black 2px;
    border-radius: 70%;
    background-color: rgb(255, 255, 57);
    margin-left: 10px;
}

#buttonTheme-InsertWorkComp:hover{
    background-color: rgba(255, 255, 0, 0.575);
    cursor: pointer;
}
